@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&family=Press+Start+2P&display=swap');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-background);
  color: var(--color-text);
}

h1,
h2,
h3 {
  font-family: 'Press Start 2P', cursive;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: inherit;
}
